Default info

# Levels of logging: error warn info debug trace
# to set level for class uncomment corresponding line

#GameLogger debug
#EventSystem trace
#ClockLog info
#GameState info
#InputSystem trace
#LoggingSystem info
#PhysicsSystem info
#ScreenSystem info
#ShaderSystem info
#ScriptSystem info
#SoundSystem info
#UserInterface debug
#ChedInputListener info
#EditorLevel info
#CommandsHistory info
#EditorInputListener info
#Resources info
#LevelResources info
#FileSystem info
#ChedLevel info
#RobotLevel info
#CharacterReference info
#TimeLine info


